html, body {
  width: 100%;
  height: 100%;
}

#wordleFont {
  margin: auto;
  text-align: center;
  font-family: Bodoni MT;
}

.keyboard {
  font-size: 38px;
  position: relative;
  top: 75px;
  text-align: center;
}

.keyboard > button {
  background-color: #D3D3D3;
  font-weight: bold;
  height: 50px;
  width: 40px;
  cursor: pointer;
}

.keyboard > button:hover {
  background-color: #d6feff;
}

#enterButton {
  width: 75px;
}

.message {
  font-weight: bold; 
  font-size: 20px; 
  text-align: center;
}

.grid {
  position: relative;
  top: 55px;
  display: grid;
  grid-template-columns: auto auto auto auto auto; 
  grid-gap: 10px;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width:768px) {
  #grid { grid-template-columns: auto; }
}

.cell {
  border: 1px solid #d6feff;
  background: #d6feff;
  height: 50px;
  width: 50px;
}

.display {
  margin: auto;
  font-size: 45px;
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
}

@media only screen and (max-width: 415px) {
  .keyboard > button {
  background-color: #D3D3D3;
  font-weight: bold;
  height: 42px;
  width: 32px;
  cursor: pointer;
  }
}

@media only screen and (min-height: 650px) {
  .keyboard {
  font-size: 34px;
  position: relative;
  top: 75px;
  text-align: center;
  }
  
  .keyboard > button {
  background-color: #D3D3D3;
  font-weight: bold;
  height: 38px;
  width: 28px;
  cursor: pointer;
  }
}
